
.section-content__wrapper{
    margin-bottom: 2rem;
}
.experience-section__content{
    color: var(--text-color-dark);
    background-color: var(--bg-color-accent-light);
    grid-template-columns: auto;
    gap: 1rem;
    padding: 0.5rem;
}
.experience-section__content h3{
    padding: 1rem;
}