.intro-section{
    color: var(--text-color-dark);
    padding-top: 16vh;
}
.intro-title{
    font-size: var(--text-size-h1);
    text-transform: uppercase;
    padding-top: 2rem;
}
.intro-sub-title{
    font-weight: 500;
}
.intro-section .section-content__wrapper{
    gap: 2rem;
}
.intro-section__img-container{
    position: relative;
    min-height: 33vh;
    border-radius: 50%;
}
.intro-section__img-container::before{
    content: "{\2205:\2205} ";
    color: var(--text-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-accent-light);
    border-radius: 50%;
}
.intro-section__img-container::after{
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    width: calc(100% + 2rem);
    height: 33%;
    background-color: var(--bg-color-accent-light);
    transform: translate(-50%, -50%);
    z-index: -1;
}