:root{
    /*  TEXT/FONT  */
        /*  Color   */
    --text-color-primary: hsl(0 0% 0%);
    --text-color-primary-opposite: hsl(0 100% 100%);
    --text-color-secondary: hsl(0 100% 100%);
        /*  Size    */
    --text-size-primary: clamp(1.5rem, 7vmin, 3rem);
        /*  Shadow    */
    --text-shadow-primary: 2px 2px hsl(0 0% 0% / .5);

    /*  BACKGROUNDS  */
        /*  Color   */
    --bg-color-primary: hsl(0 0% 66%);
    --bg-color-secondary: hsl(0 0% 0%);

    /*  SPACING   */
    --padding-primary: 1rem;
}

/*  Style Reset */
*{margin: 0;padding: 0;box-sizing: border-box;}

/*  SITEWIDE    */
html{
    color: var(--text-color-primary);
    font-family: sans-serif;
}
body{
    text-align: center;
    min-height: 100vh;
    background-color: var(--bg-color-primary);
}

/*  UTILITY CLASSES */
.grid{
    display: grid;
}
.flexed{
    display: flex;
}
.hidden{
    display: none;
}
.notHidden{
    display: block;
}
.invisable{
    visibility: hidden;
}
.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.absolute-centered{
    position:absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}





/*  HEADER  */
.home_header-primary{
    color: var(--text-color-primary-opposite);
    padding: var(--padding-primary);
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    height: 50vh;
    background-color: hsl(0 0% 0% / 0.7);
    background-image: url("img/axe-in-wood.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.website-title{
    text-transform: uppercase;
    font-weight: 900;
}


/*  HOME HEADER NAVIGATION  */
.nav_primary{
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0 0% 0% / 0.9);
    padding: var(--padding-primary);
    color: var(--text-color-primary-opposite);
    transform: translateY(-100vh);
    transition: all 250ms ease-in-out;
}
.nav_primary.open{
    transform: translateY(0vh);
}
.nav_primary-content_wrapper h2{
    height: 33vh;
}
.nav_primary-content_wrapper ul{
    list-style: none;
}
.nav_primary-content_wrapper ul li{
    list-style: none;
}
.nav_primary-link{
    display: block;
    text-decoration: none;
    font-size: var(--text-size-primary);
    padding: .25rem;
    color: var(--text-color-primary-opposite);
}
.nav_primary-link:hover{
    color: black;
    background-color: white;
}
.nav_primary-link:active{
    color: black;
    background-color: white;
}


/*  NAVIGATION MENU BUTTON  */
.menu_button{
    --menu-button-border-color: hsl(180 100% 50%);
    z-index: 100;
    width: 50px;
    height: 50px;
    border: 1px solid var(--menu-button-border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 1rem 0 auto;
}
.menu_button .menu_button-bar{
    width: 66%;
    height: 12%;
    border: 1px solid var(--menu-button-border-color);
    border-radius: 10px;
}

footer p{
    padding: var(--padding-primary);
}

/*  ANIMATIONS  */

/*  MEDIA QUERIES FOR DEVICE/MOBILE SIZES   */